.home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--fonte-titulo);
    height: calc(100vh - 87px);
    margin: 0 auto;
}

.home .texto-home p{
    font-size: var(--fonte-grande)
}
.home .texto-home h1{
    font-size: var(--fonte-gigante);
    font-weight: 900;
    padding: 10px 0;
}
.home .texto-home h2{
    font-size: var(--fonte-extra-grande);
    font-weight: 600;
}

.linkedin-home, .github-home{
    margin: 20px;
}

.btn.linkedin-home::before {
    content: url(./src/images/linkedin\ btn.png);
    margin-right: 5px;
}

.btn.github-home:before {
    content: url(./src/images/github\ btn.png);
    margin-right: 5px;
}
.home img{
    width: 45%;
}

@media(max-width: 1440px){
    .home .texto-home{
        text-align: center;
    }
}

@media(max-width: 1236px){
    .home{
        padding: var(--mobile-padding);
    }
}

@media(max-width: 820px){
    .home .texto-home{
        text-align: center;
    }
    .home img{
        width: 70%;
        margin-top: 50px;
    }
}

@media(max-width: 516px){
    .home .texto-home p{
        font-size: var(--fonte-normal)
    }
    .home .texto-home h1{
        font-size: var(--fonte-extra-grande);
        font-weight: 900;
        padding: 10px 0;
    }
    .home .texto-home h2{
        font-size: var(--fonte-grande);
        font-weight: 600;
    }
}