.sobre-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sobre .imagem-sobre{
    max-width: 40%;
    padding: 0 40px;
    text-align: center;
}
.sobre .imagem-sobre img{
    width: 100%;
}
.sobre .informacoes-sobre p{
    font-family: var(--fonte-texto);
    font-size: var(--fonte-normal);
    max-width: 900px;
    line-height: 30px;
    margin: 25px 0;
}
.btn-curriculo{
    text-align: center;
    position: relative;
    padding-left: 40px;
}
.btn-curriculo img{
    position: absolute;
    left: 8px;
    top: 8px;
}

/* .btn .curriculo-btn{
    position: relative;
    width: 150px;
} */

/* .btn.curriculo-btn:before{
    content: url(/src/images/cloud-computing.png);
    width: 10px;
} */

@media(max-width: 1380px){
    .sobre .informacoes-sobre{
        text-align: center;
    }
}

@media(max-width: 954px){
    .sobre{
        padding: var(--mobile-padding);
    }
    .sobre .imagem-sobre{
        max-width: 80%;
        padding: 0 40px;
        text-align: center;
    }
}

@media(max-width: 573px){
    .sobre-container{
        flex-direction: column;
        padding: 0 0;
        text-align: center;
    }
}