.container-contato{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

}
.contato-enderecos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.contato-enderecos h3{
    margin-top: 70px;
    font-family: var(--fonte-titulo);
    font-size: var(--fonte-gigante);
    font-weight: 600;
    width: 50%;
    line-height: 65px;
}
.contato-enderecos .icones-contato a img{
    border-radius: 50%;
    position:relative;
    top:0;
    width: 60px;
    margin: 30px;
}
.contato-enderecos .icones-contato a img:hover{
    top:-4px;
    box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out;
}
.imagem-contato{
    width: 50%;
}
.imagem-contato img{
    width: 100%;
}