.linguagens {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.linguagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.linguagem img {
    width: 100%;
}

.linguagem p {
    font-size: var(--fonte-normal);
    font-family: var(--fonte-titulo);
    font-weight: 900;
    text-transform: uppercase;
}

.linguagem:hover {
    opacity: 0.3;
    cursor: pointer;
}