.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-azul);
    align-items: center;
}

.header nav ul{
    display: flex;
    margin: 30px;
}
.header nav ul li a{
    padding: 20px;
    font-size: var(--fonte-normal);
    font-family: var(--fonte-texto);
    color: var(--cor-cinza);
}
.header nav ul li a:hover{
    font-weight: 400;
    border-bottom: 1px solid var(--cor-cinza);
}

.header .logo img{
    width: 80px;
    height: 80px;
}
.header .logo h1{
    display: none;
}
