:root{
    --cor-fonte: #D0826F;
    --cor-cinza: #DFE0E0;
    --cor-azul: #3B4358;
}

:root{
    --fonte-titulo:'Montserrat', sans-serif;
    --fonte-texto:'Nunito', sans-serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
}

:root{
    --mobile-padding: 30px;
}